<!-- start custom head snippets -->

<div id="progress-bar"></div>
<link rel="stylesheet" href="../../assets/css/leaflet.css"/>
<style>
    .map {
        position: relative;
        width: 95%;
        height: 450px;
    }
</style>

<!-- end custom head snippets -->
