.archive__item-title a {
  text-decoration: none;
}
.archive__item-title a:hover {
    text-decoration: underline;
}

.page__content a:not(.btn):not(#goog-wm-sb) {
    text-decoration: none;
}
.page__content a:not(.btn):not(#goog-wm-sb):hover {
    text-decoration: underline;
}