<div id="map" class="map"></div>

<script src="../../assets/js/leaflet.min.js"></script>

<script>
  var map = L.map('map');

  L.tileLayer('https://a.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}{r}.png?access_token=pk.eyJ1IjoiYmFzdG9ncmFuZGUiLCJhIjoiY2oyZzhocTJ2MDdtNjMyb2dhZmF1N2dubCJ9.ioy7GulPocl9aeFNrflqEg', {
      attribution:  'Maps by <a href="https://www.mapbox.com/about/maps/">MapBox</a>. ' +
                    'Data uses <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a> license.'
  }).addTo(map);

function loadJSON(path, success, error)
{
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function()
    {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                if (success)
                    success(JSON.parse(xhr.responseText));
            } else {
                if (error)
                    error(xhr);
            }
        }
    };
    xhr.open("GET", path, true);
    xhr.send();
}

// Note the addition of the "overview=full&geometries=geojson" parameters - these simplify extracting the actual line from the response quite a bit.
var URL ='https://api.mapbox.com/directions/v5/mapbox/driving/167.718053,-45.4144515;168.4342083,-45.7165500;168.7418692,-44.9729553?overview=full&geometries=geojson&access_token=pk.eyJ1IjoiYmFzdG9ncmFuZGUiLCJhIjoiY2oyZzhocTJ2MDdtNjMyb2dhZmF1N2dubCJ9.ioy7GulPocl9aeFNrflqEg';

loadJSON(URL,
  function(jsonobject) {
    var coordinates = jsonobject.routes[0].geometry.coordinates;
    // The API response is GeoJSON which has coordinates in lon/lat order - Leaflet needs lat/lon, so we need to swap them all
    coordinates = coordinates.map(c => [c[1],c[0]]);
    var polyline = L.polyline(coordinates, {color: 'red'}).addTo(map);

    var greenIcon = new L.Icon({
      iconUrl: '../../assets/images/marker-green.png',
      shadowUrl: '../../assets/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });
    var redIcon = new L.Icon({
      iconUrl: '../../assets/images/marker-red.png',
      shadowUrl: '../../assets/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });

    L.marker([-45.4144515, 167.718053], {icon: greenIcon}).addTo(map);
    L.marker([-44.9729553, 168.7418692], {icon: redIcon}).addTo(map);

    map.fitBounds(polyline.getBounds());
    map.setView(L.latLng(-45.32, 168.25));
  },
  function(error) {
    console.log(error);
  }
  );
</script>
<p id="caption">Auf der obigen Karte ist der ungefähre Reiseverlauf des Tages abgebildet.</p>